@use '../utils/variables.scss';
@use '../utils/keyframes.scss';

.container-cards-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding-bottom: 40px;
    @media (min-width: 768px) {
        width: 70%;
    }
    .title-menu {
        padding-top: 30px;
        font-weight: 300;
        &::after {
            content: "";
            display: block;
            width: 40px;
            height: 3px;
            background-color: variables.$color-light-teal; 
            margin-top: 5px;
        }
    }
    .card-menu {
        display: flex;
        justify-content: space-between;
        background-color: white;
        border-radius: 15px;
        width: 100%;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        opacity: 0;
        animation: card-menu-appearance 0.25s forwards;
        .card-menu-content {
            padding: 15px;
            max-width: calc(100% - 45px);
            transition: max-width 0.3s ease-in-out;
            h3 {
                font-size: 18px;
                font-weight: 500;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            p {
                font-size: 15px;
                font-weight: 300;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
        .price-check {
            display: flex;
            align-items: center;
        }
        data {
            display: block;
            margin-top: 15px;
            font-weight: bold;
            transition: right 0.3s ease-in-out;
        }
        .circle-check {
            margin-left: 15px;
            color: white;
            font-size: 20px;
            transition: margin-right 0.3s ease-in-out;
            margin-right: -60px;
            width: 60px; 
            height: 100%;  
            background-color: variables.$color-light-teal;
            border-radius: 0 15px 15px 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &:hover {
            .circle-check {
                margin-right: 0;
            }
            .card-menu-content {
                max-width: calc(100% - 105px);
            }
        }
    }
    @for $i from 1 through 13 {   /* 10 + 3 (title entrées, plats & desserts) */  
        .card-menu:nth-child(#{$i}) {
            animation-delay: #{$i * 0.25}s;
        }
    }
}