footer {
    background-color: #353535;
    padding: 20px;
    color: white;
    h2 {
        font-family:"shrikhand";
        font-weight: 400;
        font-size: 18px;
        font-style: italic;
        margin-bottom: 15px;
    }
    p {
        margin: 5px 0;
    }
   
    i {
        padding-right: 30px;
        width: 13px;
        height: 13px;
    }
}

@media (min-width: 1024px) {
    footer {
        display: flex;
        flex-direction: row-reverse;
        padding: 60px 50px 10px 50px;
        h2 {
            margin-left: 80px;
        }
        .footer-link {
            display: flex;
            flex-direction: row;
            p {
                margin-left: 10px;
            }
            .mentions-legales {
                margin-left: 50px;
            }
        }
    }
}