@use '../utils/mixins.scss';
@use '../utils/variables.scss';
@use '../utils/keyframes.scss';

.loader-container {
    width: 100vw;
    height: 100vh;
    background-color: variables.$color-dark-blue;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loader-opacity 2s 1s forwards;
    .loader {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 10px solid #FFF;
        border-top-color: variables.$color-light-blue;
        animation: loader-rotation 3s linear
    }
}

.logo-header-home {
    @include mixins.logo-header;
}


.form-location {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #EAEAEA;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), inset 0 2px 4px rgba(0, 0, 0, 0.25); 
    .label-location {
        margin-right: 17px;
        i {
            color: #353535;
            font-size: 16px;
        }
    }
    .location-input input {
        border: none;
        background-color: #EAEAEA;
        color: #353535;
        font-size: 16px;
        width: 125px;
    }
    ::placeholder {
        color: #353535;
        font-size: 16px;
    }

}

.reservation-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;
    background-color: #f6f6f6;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    h1 {
        width: 275px;
        margin-bottom: 15px;
        margin-top: 30px;
    }
    p {
        width: 315px;
        margin-bottom: 25px;
    }
    
}   

.fonctionnement {
    display: flex;
    flex-direction: column;
    padding: 0 25px;
    gap: 15px;
    margin-bottom: 60px;
    h2 {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .fonctionnement-step {
        display: flex;
        flex-direction: row;
        background-color: #F6F6F6;
        border-radius: 20px;
        padding: 20px;
        position: relative;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
        .fonctionnement-step-numero {
            position: absolute;
            margin-left: -30px;
            border-radius: 50%;
            font-weight: 500;
            font-size: 14px;
            height: 24px;
            width: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            background-color: variables.$color-purple;
        }
        .fonctionnement-step-icone {
            color: #7E7E7E;
            padding: 0 15px;
            transition: color 0.3s ease-in-out;
            cursor: pointer;
            &:hover {
                color: variables.$color-purple;
            }
        }
        .fonctionnement-step-button {
            background-color: #F6F6F6;
            border: none;
            font-size: 16px;
            font-family: "Roboto";
            font-weight: 500;
        }

    }
}

.restaurants {
    background-color: #f6f6f6;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
    h2 {
        padding-top: 40px;
        margin-bottom: 15px;
    }
    .restaurants-cards {
        display: grid;
        gap: 15px;
        .restaurant-card {
            background-color: white;
            border-radius: 15px;
            position: relative;
            .restaurant-image {
                width: 100%;
                height: 200px;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                object-fit: cover; 
                z-index: 1;
            }
            .restaurant-card-description {
                position: relative;
                padding: 10px;
                H3 {
                    font-size: 18px;
                    font-weight: bold;
                }
                p {
                    font-size: 17px;
                    font-weight: lighter;
                }  
            }
            .restaurant-card-notif {
                position: absolute;
                background-color: variables.$color-light-teal;
                top: 10px; 
                right: 10px; 
                z-index: 10;
                p {
                    color: variables.$color-dark-teal;
                    font-size: 14px;
                    font-weight: 500;
                    padding: 5px;
                }
            }
            .heart-empty  {
                right: 15px;
                top: 15px;
                @include mixins.icone-heart-empty;
                
            }
            .heart-full {
                right: 14px; /* Ajuste de l'alignement car icone légèrement + grosse */
                top: 14px;
                @include mixins.icone-heart-full;
                
                
            }
            .checkbox-hidden {
                right: 12px;
                top: 13px;
                @include mixins.checkbox-hidden;
                &:checked + .heart-empty + .heart-full {
                    opacity: 1;
                }
               
            }
        }
    }
}