
@keyframes loader-rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(1080deg);
    }
}

@keyframes loader-opacity {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden; 
    }
}

@keyframes card-menu-appearance {
    from {
        transform: translatex(0%);
        opacity: 0;
    }
    to {
        transform: translatex(100%);
        opacity: 1;
    }
}